doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/upload') Upload
    br
    p Logged in as: #{user.preferred_username}
    br
    block content
