body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.preview {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}

form {
  margin: 10px 0;
}

.badge {
  float: right;
}

.profile {
  height: 100%;
  max-height: 18px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: -4px;
}

.upload small {
  margin-bottom: 10px;
  display: block;
}

.upload input {
  display: block;
}

.upload label {
  margin-top: 10px;
}

.upload input[type='text'] {
  height: auto;
  padding: 10px;
  width: 300px;
  background: transparent;
}

.btn.deleteResume {
  margin-bottom: 20px;
}

.response {
  margin-left: 25px;
}

.btn-sm {
  padding: 2px 5px;
  margin: 0 10px;
}

.comment .btn {
  float: right;
}

.list-group {
  margin-bottom: 20px;
}

input[name=body] {
  height: auto;
  padding: 8px;
  margin-right: 10px;
}

#comment-input {
  width: 80%;
  height: auto;
}